:root {
  --neutral-clr-100: #fafafa;
  --neutral-clr-400: #474747;
  --neutral-clr-800: #1e1f1e;
  --neutral-clr-900: #121412;

  --brand-clr-600: #1f6128;
  --brand-clr-400: #2b8837;

  --padding-inline: 2rem;
}

@media (min-width: 1000px) {
  :root {
    --padding-inline: 6rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Nunito Sans', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  color: var(--neutral-clr-400);

  font-size: 1.125rem;
}

h1,
h2,
h3 {
  line-height: 1;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* GENERAL STYLINGS */

section {
  margin-block: 7.5rem;
}

.container {
  padding: 1rem var(--padding-inline) 0;
  max-width: 1500px;
  margin-inline: auto;
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 1rem 2.5rem;
  background-color: var(--brand-clr-600);
  color: var(--neutral-clr-100);
  font-weight: bold;
  border-radius: 5px;
  margin-block: 4rem;
}

.btn:hover,
.btn:focus {
  background-color: var(--brand-clr-400);
}

.inline-btn {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  margin-block: 4rem;
}

.clr-brand {
  color: var(--brand-clr-600);
}

.max-ch {
  max-width: 55ch;
}

.max-ch-s {
  max-width: 35ch;
}

/* NAVIGATION */

nav {
  position: absolute;
  inset: auto 0;
}

.nav-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.primary-nav-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.primary-nav-item.last {
  font-weight: bold;
}

#toggle-nav {
  display: none;
}

.logo {
  z-index: 9999;
  font-weight: bold;
}

@media (max-width: 700px) {
  .primary-nav-list {
    position: absolute;
    inset: 0 0 auto 0;
    background-color: var(--neutral-clr-100);
    z-index: 999;
    flex-direction: column;
    align-items: center;
    padding-block: 7.5rem;

    transition: transform 350ms ease-in-out;
    transform: translateY(0);
  }

  .primary-nav-list[aria-expanded='false'] {
    transform: translateY(-100%);
  }

  #toggle-nav {
    display: block;
    z-index: 9999;
  }
}

/* HERO */

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;

  padding-block: 5rem;
}

.hero__content h1 {
  font-size: clamp(2rem, 5vw + 1rem, 3rem);
  margin-bottom: 2rem;
}

.hero__images {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 200px 380px;
  gap: 1rem;

  max-width: 600px;
}

.hero__images img {
  object-fit: cover;
}

.hero__images img:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  width: 100%;
  height: 100%;
}

.hero__images img:nth-child(2) {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  height: 100%;
  justify-self: flex-end;
}

.hero__images img:nth-child(3) {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  height: 75%;
}

@media (min-width: 1000px) {
  .hero {
    flex-direction: row;
  }
}

/* INTRO */

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.intro img {
  width: 350px;
  aspect-ratio: 1 / 1.5;
  object-fit: cover;
}

@media (min-width: 850px) {
  .intro {
    flex-direction: row-reverse;
    gap: 7.5rem;
  }
}

/* CAROUSEL */

.carousel-container {
  max-width: 1500px;
  position: relative;
  margin-inline: auto;

  height: 500px;
}

.carousel-item {
  display: none;

  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel-btn > span {
  padding: 1rem;
  background-color: rgb(0 0 0 /0.75);
  border-radius: 100%;
  color: #fff;
}

.carousel-btn {
  position: absolute;
}

.carousel-btn#prev-item {
  left: 2rem;
  bottom: 2rem;
}
.carousel-btn#next-item {
  right: 2rem;
  bottom: 2rem;
}

/* OUTRO */

.outro {
  text-align: center;
}

.outro > * {
  margin-inline: auto;
}

/* FOOTER */

footer {
  background-color: var(--neutral-clr-900);
}

.flex-sb {
  padding-block: 0.5rem;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  gap: 2rem;
}

.flex-sb p {
  color: var(--neutral-clr-100);
}

/* DIALOG */

dialog[open] {
  padding: 2rem;
  border-radius: 10px;
  width: 80%;
  max-width: 1250px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: none;

  z-index: 999999;
}

dialog h2 {
  font-size: 2rem;
}

dialog img {
  display: none;
}

.dialog-form .input-box {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.input-box input,
.input-box textarea {
  padding: 0.5rem;
  resize: none;
  border-radius: 5px;
  border: 1px solid var(--neutral-clr-800);
}

.input-box input:focus,
.input-box textarea:focus {
  border: 2px solid var(--neutral-clr-800);
}

.close-dialog {
  position: absolute;
  top: 1rem;
  right: 1rem;

  cursor: pointer;
}

@media (min-width: 1200px) {
  dialog[open] {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  dialog img {
    display: block;
    width: 100%;
    max-width: 500px;
  }
}
